<div class="row">
  <div class="col-sm-12">
    <form id="login-form" method="post">
      <div class="form-group">

        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" value="{{firstname}}">

        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" value="{{lastname}}">

        <label for="phrase">Word or Phrase:</label>
        <input type="text" class="form-control" id="phrase" name="phrase" value="{{phrase}}">

      </div>

      <div class="error">
        {{ message }}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>

      <div class="results">
        {{#each emails}}
          <article>
            {{@index}}.) From: {{this.first_name}} {{this.last_name}}, Date: {{this.Date}}, Subject: {{this.Subject}}
            <p>Body:</br>{{this.Body}}</p>

          </article>
        {{/each}}
      </div>

    </form>
  </div>
</div>
